html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* annimation */
.fadeinleft {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-out;
  }
  
  .fadeinright {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-out;
  }
  
  .fadeindown {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.2s ease-out;
  }
  
  .fadeinup {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease-out;
  }
  
  .fade-in {
    opacity: 0;
    transition: all 1.3s ease-in;
  }
  
  .active-left,
  .active,
  .active-right,
  .active-down,
  .active-up {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
  }
  
  .fadein {
    opacity: 0;
  }
  
  @mixin white-gradient {
      background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  /*  Animation */
  @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-250px * 7))}
  }
  .slider {
      background: white;
      height:300px;
      margin: auto;
      overflow:hidden;
      position: relative;
      width: 100%;
      &::before,
      &::after {
          @include white-gradient;
          content: "";
          height: 100px;
          position: absolute;
          width: 200px;
          z-index: 2;
      }
      &::after {
          right: 0;
          top: 0;
          transform: rotateZ(180deg);
      }
      &::before {
          left: 0;
          top: 0;
      }
      .slide-track {
          animation: scroll  linear infinite;
          animation-duration: 35s;
          display: flex;
          width: calc(250px * 14);
      }
  }
  .slide {
    margin-right: 15px !important;
  }
  
  
  /* footer */
  :root {
      /* Background Color */
      --primary-color: #212122b9;
      --secondary-color: #A3A190;
      --bg-color: #F4F4F4;
      --bg-white: #fff;
      --bg-black: #000;
      /* Text Style */
      --primary-font: 'Poppins', sans-serif;
      --secondary-font: 'Oswald', sans-serif;
      --tertiary-font: 'Cinzel', serif;
      --primary-text: #212122b9;
      --secondary-text: #CEA356;
      --text-white: #fff;
      --text-black: rgb(79, 79, 79);
      --text-gray: #E4E4E4;
  }
  
  
    .footer_wrapper {
      background-color:#1D1F25;
  }
  .footer_wrapper h5 {
      color:white;
      margin-bottom: 1.25rem;
  }
  .footer_wrapper ul li {
      margin-bottom: .5rem;
      list-style: none;
  }
  .footer_wrapper .contact-info li a{
      color:white
  }
  .footer_wrapper .link-widget li a,
  .footer_wrapper p {
      color: white;
      font-size: 14px;
      padding-left:1.5rem;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      text-decoration: none;
  }
  .footer_wrapper .link-widget li a::before {
      content: '\f105';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      left: 0.3rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  .footer_wrapper .link-widget li a:hover {
      margin-left: .625rem;
      color:#A57D52;
  }
  .footer_wrapper .social-network a {
      width: 2.1rem;
      height: 2.1rem;
      margin: .6rem;
      line-height:2rem;
      font-size: .875rem;
      display: inline-block;
      border: .125rem solid var(--text-gray);
      color: var(--text-gray);
      text-align: center;
      border-radius: 100%;
      -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .footer_wrapper .social-network a:hover {
      background-color: var(--secondary-text);
      border-color: var(--secondary-text);
      color: var(--text-white);
      box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
      transform: translateY(-0.1875rem);
  }
  .footer_wrapper .form-control:focus {
      outline: none;
      box-shadow: none;
      border-color: var(--secondary-color);
  }
  .footer_wrapper .copyright-section {
      background-color:  #DDDDDD;
      padding: 1.25rem 0 .3125rem;
      text-align: center;
  }
  .footer_wrapper .copyright-section a {
      color: var(--secondary-text);
  }
  
  
  .navbar {
    -webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
      opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
      opacity 0s ease-in-out 0s;
    overflow-x: hidden;
    background-color: #ffffff;
    /* background-image: linear-gradient(45deg, black 30%, blue 70%); */
  }
  .navbar-nav a {
    margin-left: 10px;
    font-size: 22px;
    /* color: rgb(117, 113, 113); */
  }
  .nav-link img {
    width: 25px;
    height: 15px;
  }
  .navbar-nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    color: rgb(61, 59, 59);
    border-bottom: 1px solid transparent;
    position: relative;
  }
  .navbar-nav a:hover {
    color: #101996;
    /* border-bottom: 1px solid #000000; */
  }
  .navbar-nav a.active {
    /* border-bottom: 1px solid #000000; */
    color: #0874bd !important;
  }
  .navbar-nav a::before {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #101996;
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transition: width 0.4s, left 0.4s;
  }
  .navbar-nav a:hover::before {
    width: 100%;
    left: 0;
  }
  
  
  /*BUTTONS CLASS*/
  #button,
  #button::after {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  
  #button {
    background: #101996;
    border: 2px solid #101996 !important;
    border-radius: 5px;
    color: white !important;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 25px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;
    font-family: "Outfit", sans-serif;
    border-radius: 5px;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  #button::before,
  #button::after {
    background: white !important;
    content: "";
    position: absolute;
    z-index: -1;
  }
  
  #button:hover {
    color: #122533 !important;
    transform: scale(1);
    border: 2px solid #122533 !important;
  }
  
  .btn-3 {
    overflow: hidden;
  }
  
  .btn-3::after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    width: 0;
  }
  
  .btn-3:hover:after {
    height: 100%;
    width: 100%;
  }
  
  .btn-3::before {
    height: 100%;
    right: -35%;
    bottom: 0;
    transform: skew(50deg);
    transition: all 0.6s ease-in-out;
  
    width: 0;
  }
  
  .btn-3:hover:before {
    height: 100%;
    width: 100%;
  }
  

  /* font family */

.eb {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.work {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* index */
.bg-1 {
    background: url(img/img-18.webp) rgba(0, 0, 0, 0.40);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    text-align: center;
}

.bg-2 {
  background: url(img/img-16.webp) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
}

.bg-3 {
  background: url(img/img-19.webp) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
}

.index-ds h2 {
    font-size: 64px;
    color: #ffffff !important;
    line-height: 81.92px;
    margin: 0px 0px 12px;
    font-weight: 500;
    margin-top: 240px;
}

.index-ds p {
  font-size: 18px;
  color: #ffffff !important;
  font-weight: 400  ;
}

/* about */
.about-ds-ds h2 {
  color: #1a1a1a !important;
  font-size: 46px;
  line-height: 55.2px;
  font-weight: 500;
  text-align: center;
}

.about-text h2 {
  color: #1a1a1a !important;
  font-size: 40px;
  line-height: 55.2px;
  font-weight: 500;
}

.about-text p {
  font-size: 20px;
  margin: 30px 0;
  line-height: 24px;
  font-weight: 400;
}

.about-img img {
 width: 100%;
 height: 500px;
}

/* rooms */
.rooms-ds h6 {
  font-size: 16px;
  color: #1a1a1a !important;
  line-height: 19.2px;
  letter-spacing: 3.2px;
  margin: 0px 0px 12px;
  font-weight: 500;
  text-align: center;
}

.rooms-ds h2 {
  color: #1a1a1a !important;
  font-size: 46px;
  line-height: 55.2px;
  font-weight: 500;
  text-align: center;
}


.gallery-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-button {
  display: inline-block;
  font-weight: 500;
  color: #5a5a5a !important;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 28px;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 10px;
}

.filter-button:focus,
.filter-button.active {
  border-bottom:4px solid #0874bd ;
  color: #0874bd;
}

.filter-button:hover {
  color: #0874bd;
}

.gallery_product {
  overflow: hidden;
}

.gallery_product img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.rooms-desc {
  padding: 30px;
}

.rooms-desc h3 {
  font-size: 28px;
  color: #1a1a1a !important;
  line-height: 33.6px;
  margin: 0px 0px 18px;
  font-weight: 500;
}

.rooms-desc p {
  font-size: 18px;
  color: #5a5a5a !important;
  line-height: 27px;
  margin: 0px 0px 20px;
  font-weight: 400;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.first-icon {
  text-align: center;
}

.first-icon p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
  color: #5a5a5a !important;
  font-weight: 400;
}

.first-icon i {
  font-size: 20px;
  line-height: 27px;
  color: #5a5a5a !important;

}

/* gallery */
.gallery-ds h6 {
  font-size: 16px;
  color: #1a1a1a !important;
  line-height: 19.2px;
  letter-spacing: 3.2px;
  margin: 0px 0px 12px;
  font-weight: 500;
  text-align: center;
}

.gallery-ds h2 {
  color: #1a1a1a !important;
  font-size: 46px;
  line-height: 55.2px;
  font-weight: 500;
  text-align: center;
}

/* testimonials */
.testimonials-ds h6 {
    font-size: 16px;
    color: #1a1a1a !important;
    line-height: 19.2px;
    letter-spacing: 3.2px;
    margin: 0px 0px 12px;
    font-weight: 500;
    text-align: center;
}

.testimonials-ds h2 {
  color: #1a1a1a !important;
  font-size: 46px;
  line-height: 55.2px;
  margin: 0px 0px 50px;
  font-weight: 500;
  text-align: center;
}

.testi-cards{
  background-color: #ffffff !important;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  position: relative;
}

.testi-cards i {
  position: absolute;
  font-size: 40px;
  right: 30px;
  top: -20px;
  color: #101996 !important;
}

.testi-profile {
  display: flex;
}

.testi-icon img {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
}

.testi-name {
  margin-left: 20px;
}

.testi-name h6 {
  font-size: 18px;
  color: #5a5a5a !important;
  line-height: 25.2px;
  margin: 0px 0px 4px;
  font-weight: 500;
}

.testi-name p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* about-html */
#about-bck {
  background: url(img/img-16.webp) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-ds h2 {
  font-size: 64px;
  color: #ffffff !important;
  line-height: 81.92px;
  margin: 0px 0px 12px;
  font-weight: 500;
}

.about-ds p {
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 400  ;
}

/* rooms-html */
#rooms-bck {
  background: url(img/img-2.webp) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}


.rooms-ds-ds h2 {
  font-size: 64px;
  color: #ffffff !important;
  line-height: 81.92px;
  margin: 0px 0px 12px;
  font-weight: 500;
}

.rooms-ds-ds p {
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 400  ;
}

/* gallery-html */
#gallery-bck {
  background: url(img/img-18.webp) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.gallery-ds-ds h2 {
  font-size: 64px;
  color: #ffffff !important;
  line-height: 81.92px;
  margin: 0px 0px 12px;
  font-weight: 500;
}

.gallery-ds-ds p {
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 400  ;
}

/* contact-html */
#contact-bck {
  background: url(img/img-19.webp) rgba(0, 0, 0, 0.40);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.contact-ds h2 {
  font-size: 64px;
  color: #ffffff !important;
  line-height: 81.92px;
  margin: 0px 0px 12px;
  font-weight: 500;
}

.contact-ds p {
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 400  ;
}

.contact-info h2 {
  color: #1a1a1a !important;
  font-size: 46px;
  line-height: 55.2px;
  font-weight: 500;
}

.contact-info p {
  font-size: 18px;
  color: #555555 !important;
  line-height: 27px;
  font-weight: 400;
}

.first-contact {
  margin: 20px 0;
}

.first-contact p {
  font-size: 18px;
  color: #111111 !important;
  line-height: 27px;
  margin: 0px 0px 5px;
  font-weight: 400;
}

.first-contact a {
  text-decoration: none;
  font-size: 18px;
  color: #111111 !important;
  line-height: 27px;
  margin: 0px 0px 5px;
  font-weight: 400;
}

.first-contact i {
  color: #555555 !important;
  font-size: 30px;
}